fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.forms {
    padding: 0 80px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.input-wrapper label {
    font: var(--body-md);
    color: #C8CDD0;
}

.input-wrapper input {
    width: 100%;
    height: 48px;
    padding: 0 1rem;
    border: 1px solid #363B40;
    border-radius: 8px;
    background-color: #1C1F21;
    color: #869198;
    outline: none;
    box-sizing: border-box;

}

.date-grid {
    display: grid;
    grid-template-columns: repeat(2, 35rem);
    gap: 1rem;
    padding-top: 10px;
}

.tipo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0;
}

.tipo-wrapper label {
    color: #C8CDD0;
    font: var(--body-md);
}

.tipo-buttons {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0;
    border: 1px solid #363B40;
    border-radius: 8px;
    background-color: #1C1F21;
    box-sizing: border-box;
    overflow: hidden;
}

.tipo-buttons button {
   flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    border: none;
    background: transparent;
    color: #C8CDD0;
    cursor: pointer;
}

.tipo-buttons button.active {
    background-color: #2A2F33;
    color: #FFFFFF;
}

.tipo-local-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* metade pra cada */
    gap: 1rem;
    margin-top: 24px;
    align-items: start;
}

.grande {
    justify-content: start;
}


.input-wrapper textarea {
    width: 100%;
    height: 136px;
    padding: 1rem;
    border: 1px solid #363B40;
    border-radius: 8px;
    background-color: #1C1F21;
    color: #869198;
    outline: none;
    box-sizing: border-box;
    resize: none;
}

.input-wrapper textarea::placeholder {
    color: #869198;
    font: var(--body-md);
}

.input-wrapper input::placeholder {
    font-style: var(--body-md);
    color: #869198;
}

.descricao {
    margin-top: 24px;
    width: 100%;
    max-width: 350rem;
}

.colors input:checked + label {
    border: 2px solid #163cd5bf;
    box-shadow: 0 0 0 2px rgba(6, 51, 214, 0.905);
    outline-offset: 10px;
}

.tema label {
    display: flex;
    align-items: center;

}

.tema p {
    font: var(--body-sd);
    color: #F9F9F9;
    padding-left: 15px;
}

.tema input {

   display: none;
}

.trilho {
    border-radius: 999px;
    background-color: #1C1F21;
    width: 84px;
    height: 31px;
}

.bolinha {
display: inline-block;
width: 32px;
height: 32px;
border-radius: 50%;
background-color: #363B40;
transition: transform 0.3s ease;
justify-content: center;
align-items: center;
}

.tema input:checked + label .trilho .bolinha {
    transform: translateX(53px);
    background-color: #FFFFFF;
    
}
.tema input:checked + label .trilho {
    background-color: #59B2FF;
}

.Escuro {
    display: block;
}

.Claro {
    display: none;
}

.tema input:checked + label .Escuro {
    display: none;
}

.tema input:checked + label .Claro {
    display: block;
}

.lado {
    display: flex;
    gap: 240px;
}

.arquivo input {
    display: none;
}

.arquivo label {
display: flex;
background-color: #2D3136;
border-radius: 10px;
width: 130px;
height: 50px;
align-items: center;
justify-content: center;
}
.arquivo p {
    font: bold var(--body-sd);
    color: #F9F9F9;
    padding-left: 10px;
   
}

.arquivo img {
    width: 20px;
    height: 20px;
}
.arquivo {
    display: flex;
}

.Nenhum {
    display: flex;
    

}

.Nenhum p {
    font: var(--body-md);
    color: #869198;
}

.Nenhum {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Sim {
    display: none;
}

.arquivo input:checked + label .Nenhum {
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.arquivo input:checked + label .Sim {
   display: flex;
    justify-content: center;
    align-items: center;

}

.contato {
    display: flex;
    padding-top: 48px;

}

.contato h4 {
    font: bold var(--heading-sm);
    color:  #F9F9F9;
    padding-left: 10px;
    padding-bottom: 24px;
}

.contato img {
    width: 24px;
    height: 24px;
}

.contato2 {
    display: grid;

}

.contato2 label {
    font: var(--body-sd);
    color:#C8CDD0;
    padding-bottom: 10px;
}

.contato2 input{
      width: 100%;
    height: 48px;
    padding: 0 1rem;
    border: 1px solid #363B40;
    border-radius: 8px;
    background-color: #1C1F21;
    color: #869198;
    outline: none;
    box-sizing: border-box;
    
}
.contato2 input::placeholder {
    font: var(--body-md);
    color: #869198;
}

.email {
    padding-top: 10px;}

    .contatoss {
        padding-top: 10px;
    }







.final p {
    margin: 0;
    font: var(--body-sd);
    color: #C8CDD0;}
    
    .privacidade {
        padding-top: 88px;
    }
    .privacidade strong {
        color: #59B2FF;
          text-decoration: underline;

    }

.final label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.final p {
  margin: 0;
  color: #C8CDD0;
}

.final input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.final .check {
  width: 18px;
  height: 18px;
  border: 2px solid #363B40;
  border-radius: 4px;
  display: inline-block;
  flex-shrink: 0;
  background: transparent;
}

.final input:checked + .check {
background-image: url(../assets/check.svg);
border: 1px solid #59B2FF;
}

.butonfinal label {
  display: flex;
  padding-top: 128px;
  background-image: url(../assets/icons/Button.svg);
  background-repeat: no-repeat;
    background-position: right;
}

.butonfinal input {
    display: none;
}
